@use '../functions/_function' as fn

h1
    font-weight: bold

    p
        font-size: 1rem
        font-weight: normal

[role="main-content"]
    background-color: #fff
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .175)
    padding: 2em

.print-data, .add-data, .update-data
    @include fn.button()

.action
    display: flex
    justify-content: space-around
    align-items: center

    a,button
        color: #fff
.info
    display: flex
    justify-content: space-between
    margin-top: 2em

    button
        border: none
        padding: .5em
        background-color: #fff
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .175)

.mails-today
    max-height: 50vh
    overflow-y: scroll
    position: relative

    h4
        background-color: #fff
        padding: 1rem 0
        position: sticky
        top: 0

// Modal
.disposition .modal-title
    font-size: 10px
